/*general rules*/

/*css reset*/
* { /*  * means all elements*/
	margin: 0;
	padding:0; /*to remove padding and margins provided by browsers*/
	box-sizing: border-box; /*to avoid over-flow*/
}

body {
	background: url("../img/big-bg.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	

}
.wrapper {
	width: 700px;
	margin: 0 auto; /*shorthand vesion*/
	/* -to center wrapper
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	*/
	background-color: lightgrey;
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;


}

header {
	/*background-color: #19394B; */


	background-color: rgba(25, 57, 75, 0.6); /*#09c*/
	height: 70px;
	line-height: 70px;
	color: white;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-family: 'Coming Soon', cursive;
}

footer {
	background-color: rgba(44, 73, 90, 0.4);
	height: 70px;
	line-height: 70px;
	color: white;
	text-align: center;
	font-size: 14px;
	font-family: 'Coming Soon', cursive;


}

form {
	text-align: right;
	padding: 10px 20px 20px; /*top=10px right=20px bottom=20px left=20px*/
}

main {
	padding: 20px 10px 10px;
}

h3 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #19394B;
}

/*DASHBOARD*/


#mainDashboard {
	font-family: 'Open Sans', sans-serif;
	color: #19394B;
}
#postCircle,
#imageCircle {
	height: 70px;
	width: 70px;
	background-color: red;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 70px;
	float: left;
}

#postCircle {
	background-color: #8799A4;
}

#imageCircle {
	background-color: #5F7988;
}


.inline-blocked {
	display: inline-block;
	text-align: center;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Coming Soon', cursive;
}

.dashColumns {
	width: 32%;
	height: 100px;
	display: inline-block;
}

/*
*
* Buttons
*
*/

.btn {
	border: none;
	padding: 15px 30px; /*15px=top&bottom 30pm =Left&right*/
	font-size: 14px;
	border-radius: 5px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.btn-blue {
	background-color: #5F7988;
}

.btn-green {
	background-color: #8799A4;
}

/*
images
*/

.img-set-holder {
	text-align: center;
}

.img-set {
	height: 100px; /*defined to maintain aspect ration of images*/
	/*width: 100px;   commented out so that browser will follow aspect ratio of images*/ 
	padding: 5px; /*target all sides: top, right, bottom and left*/
	background-color: #fff;
	border-radius: 3px;
	margin: 0 5px;
}



/* POSTS */

#postTitle,
#postContent {
	width: 100%;
	border-radius: 3px;
	padding: 10px; /* same for multiple */
}

#postTitle {
	/*width: 100%;
	border-radius: 3px;
	padding: 10px;
*/
	margin-bottom: 20px;
}

#postContent{
	height: 100px;
	/*height: 100px;
	border-radius: 3px;
	padding: 10px;*/
	margin-bottom: 10px;
}

/*. for class and # for id*/

