/*CSS Reset*/
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/*.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar-brand {
    float: right;
}

div.container-fluid#images {
  padding: 0;
}

div.container-fluid#images > img {
  padding-right: 0;
  padding-left:0;
}

div#images img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;  
    }

div#images img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.0);
    }


@media only screen and (min-width: 992px) and (max-width: 1999px) {
  .navbar {
    border-radius: 0;
  }
  .navbar > .container-fluid .navbar-brand {
    margin-right: 15px;
  }
  .navbar-inverse .navbar-brand {
    color: #9d9d9d;
  }
  .navbar-brand {
    float: right;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    border-radius: 0;
  }
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
}