/*CSS Reset*/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
    padding-left: 0;
    padding-right:0;
}

.container-fluid>.navbar-header {
  margin-left: 0;
  margin-right: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left:0;
  padding-right:0;
}


/*Fonts*/
.navbar>.container-fluid .navbar-brand,
.jumbotron h1,
p.text-center {
  font-family: 'Oswald', sans-serif;
  color: #4A4949;
}

.jumbotron h3 {
  font-family: 'Lato', sans-serif;
}

.jumbotron h3 {
  color: #7D7D7D;
}

a { 
  color: #4A4949;
}
.active a { 
  color: #FF3B3F;
}

a:hover,
.dropdown-menu>li>a:hover { 
  color: #A9A9A9;
}


/*Font Sizes*/
.navbar>.container-fluid .navbar-brand {
  font-size: 1.6em;
}



a,
.active a,
a:hover {
  font-size: 1.3em;
}

.navbar {
  background-color: #EFEFEF;
}

.navbar-collapse {
  background-color: #EFEFEF;
}

.navbar-brand {
    padding-left: 15px;

}

ul.nav.navbar-nav {
  margin-left: 40px;
}

.navbar-nav>li>.dropdown-menu {
  margin-left: 20px;
}


button.navbar-toggle {
  border: 1px solid #4A4949;
}

span.icon-bar {
  background-color: #4A4949;
}
.container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 50px;
    border-radius: 0;
    background-color: #D7D7D7;
}

.jumbotron h3 {
  line-height: 1.5;
  padding-left:20px;
}

.jumbotron span {
  background-color: #CAEBF2;
}

div#img-links img {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid#bottom {
  margin-right: 0;
}

.container-fluid#bottom footer {
  height: 60px;
}
p {
    margin: 0;
}

.text-center {
    padding-top: 15px;
}