/*CSS Reset*/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  padding-left:20px;
}
.navbar-brand {
  padding: 15px 35px;
}
#topmost,
.container-fluid > .navbar-header,
div#myNavbar {
  background-color: #A9A9A9;
}


.navbar-toggle {
    background-color: #A9A9A9;
    border: 1px solid #494949;
    margin-right: 35px;
}

.icon-bar {
  background-color: #494949;
}

h1,
.navbar-brand {
  font-family: 'Dosis', sans-serif;
}

div#myNavbar li {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}

.active a {
  color: #FF3B3F;
  font-weight: bold;
}
a {
  color:#494949;
}
a:hover {
  color: #CAEBF2;
}

div#img-links img {
  padding:0;
}


div#main-body {
    margin-top: 50px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 70px 0;
    color: #565656;
    width:70%;
    background-color: #EFEFEF;
}

.jumbotron h3 {
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-left:35px;
  line-height: 1.5;
}

span {
  background-color: #CAEBF2;
}

.jumbotron h1,
.navbar-brand {
  color: #565656;
}

.navbar-brand {
  font-weight: bold;
}

div.container-fluid#main-body {
    background-color: #EFEFEF;
}

div#title-row.container {
  margin-left:15px;
  background-color: #EFEFEF;
}

footer {
  font-family: 'Lato', sans-serif;
}

footer p {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #EFEFEF;
    margin: 0;
}

}

div#myCarousel {
  margin-left: 15%;
}

@media only screen and (max-width: 767px) {
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 30px;
    padding-left: 60px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 26px;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -10px;
  }

  .navbar-collapse {
    background-color: #EFEFEF;

  }
}


